.jumbotron h1 {
  /* Just to indicate this is linked to the index. */
  font-family: fantasy, sans-serif;
}

#social-buttons {
  color: white
}

.btn-twitter {
  background: #00acee;
  border-color: #009ad5;
}

.btn-facebook {
  background: #4868ac;
  border-color: #314776;
}

.btn-pinterest {
  background: #b62f26;
  border-color: #b62f26;
}
