.jumbotron h1 {
  /* Just to indicate this is linked to the index. */
  font-family: fantasy, sans-serif;
}

.jumbotron {
  padding-top: 30px;
  background-image: url("../images/fruit-and-veg.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 400px;
  color: white;
}

/* It's fairly normal to expect css to be ordered like html. So if an element
comes first in html, you'd expect it to come first in the css. Therefore, I have
inserted #mission before the social-buttons' css because it is before social-buttons
in the html */
#mission {
  background: rgba(32, 35, 41, 0.9);
  color: #ddd;
}

#social-buttons {
  color: white
}

.btn-twitter {
  background: #00acee;
  border-color: #009ad5;
}

.btn-facebook {
  background: #4868ac;
  border-color: #314776;
}

.btn-pinterest {
  background: #b62f26;
  border-color: #b62f26;
}
